:root {
    --max-height-content: calc(100vh - 135px);
}
.main-content {
    height: var(--max-height-content);
    max-height: var(--max-height-content);
    display: grid;
    grid-template-columns: 193px auto;
}

.scrollable-content {
    background: white;
    overflow-y: scroll;
    height: var(--max-height-content);
    padding: 15px
}

